<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>

  <!-- ==========================================
       Navigation
  =========================================== -->

  <header class="nav">

    <div class="nav-inner">

      <a href="#top">Home</a>
      <a href="#about">About</a>
      <a href="#videos">Videos</a>
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>

    </div>

  </header>

  <!-- ==========================================
       Main Page
  =========================================== -->

  <main id="top">

    {{ content }}

  </main>

  <!-- ==========================================
       Modal
  =========================================== -->

  <div id="modal" class="modal">

    <div
      class="modal-inner"
      id="modalInner">

    </div>

  </div>

  <!-- ==========================================
       Scripts
  =========================================== -->


  <script src="https://www.youtube.com/iframe_api"></script>

  <!-- Version 2.3 SSoT -->
  <script src="{{ '/assets/js/starCatalog.js' | relative_url }}"></script>

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>

</html>
