<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }} | {{ site.title }}</title>

  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>

<header class="nav">

    <div class="nav-left">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#featured-video">Video</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact</a>
    </div>

    <button
        id="themeToggle"
        class="theme-button"
        type="button"
        aria-label="Toggle theme">

        🌙 Theme

    </button>

</header>

<main
    id="top"
    class="container">

    {{ content }}

</main>

<audio id="uiSound" preload="auto">
    <source src="https://assets.mixkit.co/active_storage/sfx/2571/2571-preview.mp3">
</audio>

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>

</html>
